In [27]:
import pandas as pd
import os
import json

In [28]:
if os.path.exists('../input/'):
    path_prefix = '../input/{}.csv'
else:
    path_prefix = '../export/{}.csv'

df, df_f, df_a, df_c = [
    pd.read_csv(path_prefix.format(_)) for _ in ('dataset', 'formats', 'authors', 'categories')
]

In [29]:
df.head()

,authors,bestsellers-rank,categories,description,dimension_x,dimension_y,dimension_z,dimensions,edition,edition-statement,...,format,id,illustrations-note,imprint,index-date,isbn10,isbn13,lang,publication-date,weight
0,[1],57858,"[220, 233, 237, 2644, 2679, 2689]",They were American and British air force offic...,142.0,211.0,20.0,NaN,NaN,Reissue,...,1,9780393325799,16 pages of photographs,NaN,NaN,393325792,9.780393e+12,"[""en""]",2004-08-17,243.00
1,"[2, 3]",114465,"[235, 3386]",John Moran and Carl Williams were the two bigg...,127.0,203.2,25.4,NaN,NaN,NaN,...,1,9781844547371,NaN,NaN,NaN,184454737X,9.781845e+12,"[""en""]",2009-03-13,285.76
2,[4],"61,471","[241, 245, 247, 249, 378]","Plain English is the art of writing clearly, c...",136.0,195.0,16.0,NaN,Revised,4th Revised edition,...,1,9780199669172,Illustrations (black and white),NaN,NaN,199669171,9.780200e+12,"[""en""]",2013-09-15,338.00
3,[5],"1,347,994","[245, 253, 263, 273, 274, 276, 279, 280, 281, ...","When travelling, do you want to journey off th...",136.0,190.0,33.0,NaN,Unabridged,Unabridged edition,...,2,9781444185492,NaN,TEACH YOURSELF,NaN,1444185497,9.781444e+12,"[""en""]",2014-12-03,156.00
4,[6],58154,"[1938, 1941, 1995]","No matter what your actual job title, you are-...",179.0,229.0,18.0,NaN,NaN,NaN,...,1,9780321934079,NaN,New Riders Publishing,NaN,321934075,9.780322e+12,"[""en""]",2016-02-28,732.00

In [30]:
df_a.head()

   author_id     author_name
0          1  Paul Brickhill
1          2  John Silvester
2          3     Andrew Rule
3          4    Martin Cutts
4          5  Sue Tyson-Ward

In [31]:
df_f.head()

   format_id format_name
0          1   Paperback
1          2          CD
2          3    Hardback
3          4       Mixed
4          5         Pre

In [32]:
df_c.head()

   category_id                                category_name
0          220  Biography: Historical, Political & Military
1          233                                      Memoirs
2          237                   True War  & Combat Stories
3         2644                             European History
4         2679                             Military History

In [33]:
def parse_list_fields(x):
    if isinstance(x, str):
        return json.loads(x)
    elif isinstance(x, list):
        return x
    else:
        return []

In [36]:
df['categories'] = df['categories'].apply(parse_list_fields)
df['authors'] = df['authors'].apply(parse_list_fields)